#root {
  color: black;
}

.important {
  color: red;
}

.show {
  display: block;
}

.hide {
  display: none;
}



.show-name {
  font-size: 2em;
  font-style: italic;
  font-weight: 700;
}

.shows-banner {
  background-color: blueviolet;
  color: white;
  font-size: 3em;
  border: 2em;
  border-color: white;
}

.show-entry:nth-child(even) {
  background-color: #ccc;
}

.show-entry {
  display: grid;
  grid: 300px auto / 220px auto;
  overflow: hidden;
}

.episodes-banner {
  background-color: red;
  color: white;
  font-size: 3em;
  border: 2em;
  border-color: white;
}

.episode-heading {
  margin-right: 1em;
  font-weight: 700;
}

.episode-entry {
  display: grid;
  grid: 150px / 250px auto;
  overflow: hidden;
}

.episode-entry:nth-child(even) {
  background-color: #ccc;
}

